doctype html
html
    include head
    body
        p. gkgjnbxfzdfdhgfjhgk
           gfgjhgk,lrjhf,gh,fh,
           fnfm,mm,.k,.fjh,jhmf
           cvbgfjgfjhfgbngngfhg
           vb nxfbgnsgfnsgfnsng
        div.wrapper#main
        a(href="google.com", class="link") site Google
        div(style='width:'+(100/9)+'%')